In [1]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [31]:
url='https://www.worldometers.info/gdp/gdp-per-capita/'

In [33]:
gdp=requests.get(url)

In [34]:
soup=BeautifulSoup(gdp.text,'html')

In [39]:
table=soup.find('table')

In [43]:
heading=table.find_all('th')

In [47]:
heading_text=[title.text for title in heading]

In [71]:
heading_text

['#',
 'Country',
 'GDP (PPP)  per capita  (2022)',
 'GDP (nominal) per capita (2022) ',
 'vs. World PPP  GDP per capita ($20,645)']

In [53]:
import pandas as pd

In [55]:
df=pd.DataFrame(columns=heading_text)

In [65]:
table_tr=table.find_all('tr')

In [67]:

for topIt in table_tr[1:]:
  row_content=topIt.find_all('td')
  row_data_cont=[data.text.strip() for data in row_content]

  length=len(df)
  df.loc[length]=row_data_cont

In [69]:
df

,#,Country,GDP (PPP) per capita (2022),GDP (nominal) per capita (2022),"vs. World PPP GDP per capita ($20,645)"
0,1,Luxembourg,"$142,214","$125,935",689%
1,2,Singapore,"$127,565","$82,619",618%
2,3,Ireland,"$126,905","$103,570",615%
3,4,Norway,"$114,899","$106,155",557%
4,5,Qatar,"$114,648","$82,040",555%
...,...,...,...,...,...
375,179,Bhutan,N.A.,$0,N.A.
376,179,Palau,N.A.,$0,N.A.
377,179,Aruba,N.A.,$0,N.A.
378,179,Cuba,N.A.,$0,N.A.
379,179,Afghanistan,N.A.,$0,N.A.